<div id="poster">

  <h1>Welcome to Pixel Monster!</h1>

  <img src="https://www.wordans.com/wvc-1373239374/wordansfiles/images/2013/7/7/197981/197981_340.jpg" id="mascot">

  <p>The #1 solution for blog management</p>
  
</div>
