<h1>About this app</h1>

<p>This app was creatd with Ruby on Rails.

<p>
<%= image_tag "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/095/01e/0f6560d.jpg" %>
Author: Hon Lam

<p>Purpose: assignment for CodeCore Developer Bootcamp